 <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto">
        <img class="bi me-4" width="60" height="52" src="/static/panda_ciemny.png">
        <span class="fs-4">Panda 3.0</span>
        <span class="fs-6">&emsp;&emsp;&emsp;&emsp; Logged in as: &ensp; {{session.username}} </span>
        <span class="fs-6">&emsp;&emsp;&emsp; Lucky number: 12</span>


      </div>
<!--class="nav-link"  aria-current="page"-->
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="http://127.0.0.1:5000/grades" class="nav-link {% if request.endpoint=='grades' %}active{%endif %}">Grades</a></li>
        <li class="nav-item"><a href="http://127.0.0.1:5000/plan" class="nav-link {% if request.endpoint=='plan' %}active{%endif %}">Plan</a></li>
        <li class="nav-item"><a href="http://127.0.0.1:5000/profile" class="nav-link {% if request.endpoint=='profile' %}active{%endif %}">Profile</a></li>
        <li class="nav-item"><a href="http://127.0.0.1:5000/announces" class="nav-link {% if request.endpoint=='announces' %}active{%endif %}">Announces</a></li>
        <li class="nav-item"><a href="http://127.0.0.1:5000/logout" class="nav-link">Logout</a></li>
      </ul>
    </header>
  </div>