{#  strona do edycji ocen dla nauczyciela i admina  #}

{% extends "base.html" %}
{% block title %}Grades {{ clas.class_name }}{% endblock %}

{% set active_page = "grades" %}

{% block content %}
<main>


{#  nauczyciel lub admin wybierają, której klasy chcą zobaczyć oceny     #}
<div class="container">
    <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Choose class</button>
          <ul class="dropdown-menu">
              {% for class in classes %}
                      <li><a class="dropdown-item" href="{{ url_for('grades.grades_teacher', class_name=class['class_name'])}}">{{ class['class_name'] }}</a></li>
              {% endfor %}
          </ul>
      </div>


{#   wyświetlenie ocen danej klasy     #}
    <div class="fs-4" align="middle" >Class: {{ clas.class_name }}
        <br> Profile: {{ clas.class_profile }}
    </div>
    <br>

{# dla każdego przedmiotu, którego dany nauczyciel uczy, lub dla każdego przedmiotu w przypadku admina     #}
    {% for subject in subjects %}
        <br>
        <div class="fs-4"><strong>{{ subject.subject_name }}</strong></div>
        <br>
        <br>
        <div class="row mb-3 text-center">
            <div class="col-md-1 themed-grid-col"><b>NUMBER</b></div>
            <div class="col-md-2 themed-grid-col"><b>STUDENT</b></div>
            <div class="col-md-6 themed-grid-col"><b>GRADES</b></div>
            <div class="col-md-1 themed-grid-col"><b>AVERAGE</b></div>
            <div class="col-md-1 themed-grid-col"><b>FINAL GRADE</b></div>
            <div class="col-md-1 themed-grid-col"><b>NEW GRADE</b></div>
        </div>
        <hr>

{#  wyświetlenie listy uczniów    #}
        {% for student in students | sort(attribute='gradebook_nr') %}
             <div class="row mb-3 text-center">
                 <div class="col-md-1 themed-grid-col">{{ student.gradebook_nr }}</div>
                 <div class="col-md-2 themed-grid-col">{{ student.name }} {{ student.surname }}</div>
                 <div class="col-md-6 themed-grid-col">

                  <script >
                    sum = 0;
                    denom = 0;
                  </script>

{#  wyświetlenie ocen danego ucznia w kolejności od najwcześniej dodanej     #}
                      {% for grade in student.grades | sort(attribute='grade_id') %}
                          {% if grade.subject.subject_name == subject.subject_name and grade.is_final == false %}
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#grade-modal-{{ subject.subject_id }}-{{ student.student_id }}-{{ loop.index }}">{{ grade.type }}</button>
                              <script>
                                sum += {{ grade.type }} * {{ grade.weight }};
                                denom += {{ grade.weight }};
                              </script>

{#  dodanie modala do wyświetlania szczegółów ocen #}
                                <div class="modal fade" id="grade-modal-{{ subject.subject_id }}-{{ student.student_id }}-{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content rounded-4 shadow">
                                      <div class="modal-header border-bottom-0">
                                        <h1 class="modal-title fs-5">{{ grade.subject.subject_name }}</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                          <div class="modal-body py-0">
                                            <p>Grade: {{ grade.type }}</p>
                                            <br>
                                            <p>Weight: {{ grade.weight }}</p>
                                            <br>
                                            <p>Description: {{ grade.description }}</p>
                                            <br>
                                            <p>Date: {{ grade.add_date }}</p>
                                            <br>

{#  możliwość zmiany oceny  #}
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#grade-modal-change-{{ subject.subject_name }}-{{ student.student_id }}-{{ loop.index }}">Change</button>
                                            <br>
                                              <br>
{#  możliwość usunięcia oceny   #}
                                            <form action="#" method="post">
                                                <div class="form-floating">
                                                        <input type="hidden"
                                                               class="form-control"
                                                               id="delete"
                                                               name="delete"
                                                               value="true"/>
                                                </div>
                                                <div class="form-floating">
                                                        <input type="hidden"
                                                               class="form-control"
                                                               id="grade_id_delete"
                                                               name="grade_id_delete"
                                                               value="{{ grade.grade_id }}"/>
                                                </div>
                                                <button class="btn btn-primary" type="submit">Delete</button>
                                            </form>
                                          </div>
                                            <br>
                                            <br>
                                          </div>
                                        </div>
                                      </div>

{#  modal obsługujący zmianę oceny  #}
                              <div class="modal fade" id="grade-modal-change-{{ subject.subject_name }}-{{ student.student_id }}-{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content rounded-4 shadow">
                                                  <div class="modal-header border-bottom-0">
                                                    <h1 class="modal-title fs-5">{{ subject.subject_name }}</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                  </div>
                                                      <div class="modal-body py-0">
                                                          <form action="#" method="post">
                                                                <div class="form-floating">
                                                                    <input type="number"
                                                                           class="form-control"
                                                                           id="type"
                                                                           name="type"
                                                                           placeholder="Type"/>
                                                                    <label for="type">Grade</label>
                                                                </div>
                                                                <br>
                                                                <div class="form-floating">
                                                                    <input type="number"
                                                                           class="form-control"
                                                                           id="weight"
                                                                           name="weight"
                                                                           placeholder="Weight"/>
                                                                    <label for="weight">Weight</label>
                                                                </div>
                                                                <br>
                                                                <div class="form-floating">
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           id="description"
                                                                           name="description"
                                                                           placeholder="Description"/>
                                                                    <label for="description">Description</label>
                                                                </div>
                                                                <br>
                                                                <div class="form-floating">
                                                                            <input type="hidden"
                                                                                   class="form-control"
                                                                                   id="grade_id"
                                                                                   name="grade_id"
                                                                                   value="{{ grade.grade_id }}"/>
                                                                    </div>
                                                                <div class="form-floating">
                                                                            <input type="hidden"
                                                                                   class="form-control"
                                                                                   id="change"
                                                                                   name="change"
                                                                                   value="true"/>
                                                                    </div>
                                                              <br>
                                                              <br>
                                                            <button class="btn btn-primary w-100 py-2" type="submit">Change</button>
                                                            <br>
                                                            <br>
                                                          </form>
                                                      </div>
                                                    </div>
                                                  </div>

                                </div>
                          {% endif %}
                        {% endfor %}

                </div>
{#  wyświetlanie średniej ocen ucznia   #}
                <div class="col-md-1 themed-grid-col"><script>if(sum !== 0) document.write((Math.round(sum*100/denom)/100).toString());
                                                                else document.write("-");
                                                        </script></div>

{#  wyświetlanie oceny końcowej     #}
                 <div class="col-md-1 themed-grid-col">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#grade-modal-final-{{ subject.subject_name }}-{{ student.student_id }}">

                        <script> final_grade = '-';</script>
                        {% set vars = {'final': 0} %}
                        {% for grade in student.grades %}
                            {% if grade.is_final == true and grade.subject.subject_name == subject.subject_name %}
                                <script> final_grade = {{ grade.type }}</script>
                                {% if vars.update({'final': grade.grade_id}) %} {% endif %}
                            {% endif %}
                        {% endfor %}
                        <script>document.write(final_grade.toString())</script>
                    </button>

{#  modal do dodania lub zmiany oceny końcowej  #}
                    <div class="modal fade" id="grade-modal-final-{{ subject.subject_name }}-{{ student.student_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content rounded-4 shadow">
                          <div class="modal-header border-bottom-0">
                            <h1 class="modal-title fs-5">{{ subject.subject_name }} - final grade</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                              <div class="modal-body py-0">
                                  <form action="#" method="post">
                                        <div class="form-floating">
                                            <input type="number"
                                                   class="form-control"
                                                   id="type"
                                                   name="type"
                                                   placeholder="Type"/>
                                            <label for="type">Grade</label>
                                        </div>
                                        <br>
                                        <div class="form-floating">
                                            <input type="hidden"
                                                   class="form-control"
                                                   id="subject_id"
                                                   name="subject_id"
                                                   value="{{ subject.subject_id }}"/>
                                        </div>
                                        <div class="form-floating">
                                            <input type="hidden"
                                                   class="form-control"
                                                   id="student_id"
                                                   name="student_id"
                                                   value="{{ student.student_id }}"/>
                                        </div>
                                          <div class="form-floating">
                                                <input type="hidden"
                                                       class="form-control"
                                                       id="is_final"
                                                       name="is_final"
                                                       value="true"/>
                                            </div>
                                            <div class="form-floating">
                                                    <input type="hidden"
                                                           class="form-control"
                                                           id="final_id"
                                                           name="final_id"
                                                           value="{{ vars.final }}"/>
                                            </div>
                                    <button class="btn btn-primary w-100 py-2" type="submit">Add</button>
                                    <br>
                                    <br>
                                  </form>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>

                <div class="col-md-1 themed-grid-col">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#grade-modal-add-{{ subject.subject_name }}-{{ loop.index }}">add</button>

{#  przycisk i modal do dodanie nowej oceny     #}
                    <div class="modal fade" id="grade-modal-add-{{ subject.subject_name }}-{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content rounded-4 shadow">
                          <div class="modal-header border-bottom-0">
                            <h1 class="modal-title fs-5">{{ subject.subject_name }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                              <div class="modal-body py-0">
                                  <form action="#" method="post">
                                        <div class="form-floating">
                                            <input type="number"
                                                   class="form-control"
                                                   id="type"
                                                   name="type"
                                                   placeholder="Type"/>
                                            <label for="type">Grade</label>
                                        </div>
                                        <br>
                                        <div class="form-floating">
                                            <input type="number"
                                                   class="form-control"
                                                   id="weight"
                                                   name="weight"
                                                   placeholder="Weight"/>
                                            <label for="weight">Weight</label>
                                        </div>
                                        <br>
                                        <div class="form-floating">
                                            <input type="text"
                                                   class="form-control"
                                                   id="description"
                                                   name="description"
                                                   placeholder="Description"/>
                                            <label for="description">Description</label>
                                        </div>
                                        <br>
                                        <div class="form-floating">
                                            <input type="hidden"
                                                   class="form-control"
                                                   id="subject_id"
                                                   name="subject_id"
                                                   value="{{ subject.subject_id }}"/>
                                        </div>
                                        <div class="form-floating">
                                            <input type="hidden"
                                                   class="form-control"
                                                   id="student_id"
                                                   name="student_id"
                                                   value="{{ student.student_id }}"/>
                                        </div>
                                    <button class="btn btn-primary w-100 py-2" type="submit">Add</button>
                                    <br>
                                    <br>
                                  </form>
                              </div>
                            </div>
                          </div>
                    </div>


                </div>

            </div>
            <hr>

        {% endfor %}
    {% endfor %}





</div>
</main>
{% endblock %}