{#  wyświetlanie ocen ucznia    #}

{% extends "base.html" %}
{% block title %}Grades{% endblock %}

{% set active_page = "grades" %}

{% block content %}
<main>


  <div class="container">

{#  nauczyciel lub admin wybierają której klasy chcą zobaczyć oceny     #}
  {% if user.user_type == 'teacher' or user.user_type == 'admin' %}

      <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Choose class</button>
          <ul class="dropdown-menu">
              {% for class in classes %}
                      <li><a class="dropdown-item" href="{{ url_for('grades.grades_teacher', class_name=class.class_name) }}">{{ class.class_name }}</a></li>
              {% endfor %}
          </ul>
      </div>

  {% else %}

{#      wyświetlenie ocen ucznia    #}
  {% if user.user_type == 'student'%}
        <h1>Your grades</h1>
  {% else %}
        <h1>Your child's grades</h1>
  {% endif %}

    <br>
    <div class="row mb-3 text-center">
      <div class="col-md-2 themed-grid-col"><b>SUBJECT</b></div>
      <div class="col-md-8 themed-grid-col"><b>GRADES</b></div>
      <div class="col-md-1 themed-grid-col"><b>AVERAGE</b></div>
      <div class="col-md-1 themed-grid-col"><b>FINAL GRADE</b></div>
    </div>
    <hr>

{#      dla każdego przedmiotu  #}
    {% for subject in subjects %}
     <div class="row mb-3 text-center">
      <div class="col-md-2 themed-grid-col">{{ subject.subject_name }}</div>
      <div class="col-md-8 themed-grid-col">
      <script >
        sum = 0;
        denom = 0;
      </script>

{#    wyświetlenie ocen, dodanie ich do liczonej średniej ważonej #}
          {% for grade in child.grades %}
              {% if grade.subject.subject_name == subject.subject_name and grade.is_final == false %}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#grade-modal-{{ subject.subject_id }}-{{ child.student_id }}-{{ loop.index }}">{{ grade.type }}</button>
                  <script>
                    sum += {{ grade.type }} * {{ grade.weight }};
                    denom += {{ grade.weight }};
                  </script>

{#    dodanie modala do wyświetlania szczegółów oceny   #}
                    <div class="modal fade" id="grade-modal-{{ subject.subject_id }}-{{ child.student_id }}-{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content rounded-4 shadow">
                          <div class="modal-header border-bottom-0">
                            <h1 class="modal-title fs-5">{{ grade.subject.subject_name }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                              <div class="modal-body py-0">
                                <p>Grade: {{ grade.type }}</p>
                                <br>
                                <p>Weight: {{ grade.weight }}</p>
                                <br>
                                <p>Description: {{ grade.description }}</p>
                                <br>
                                <p>Date: {{ grade.add_date }}</p>
                                <br>
                              </div>
                            </div>
                          </div>
                    </div>
                {% endif %}
            {% endfor %}

      </div>

{#     wyświetlenie średniej ocen   #}
      <div class="col-md-1 themed-grid-col"><script>document.write((Math.round(sum*100/denom)/100).toString())</script></div>

 {#      szukanie oceny końcowej i jeśli istnieje, wyświetlenie jej #}
         <div class="col-md-1 themed-grid-col">
            <script> final = '-';</script>
            {% for grade in child.grades %}
                {% if grade.is_final == true and grade.subject.subject_name == subject.subject_name %}
                    <script> final = {{ grade.type }}</script>
                {% endif %}
            {% endfor %}
            <script>document.write(final.toString())</script>
      </div>
    </div>
        <hr>
    {% endfor %}

</div>

{% endif %}
</main>
{% endblock %}

