{% extends "base.html" %}
{% block title %}Edit Announcement{% endblock %}

{% block content %}
<main>
<div class="container">
    <h1>Edit your announcement</h1>
    <br>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('announcements.editAnnouncement', announcement_id=announcement.announcement_id) }}" method="post">
        <div class="form-floating">
            <textarea class="form-control" id="description" name="description" placeholder="Enter description"
                      style="height: 465px;"
                      onkeydown="if(event.keyCode === 13) {event.preventDefault(); this.value += '\n';}">{{ announcement.description }}</textarea>
            <label for="description">Description</label>
        </div>
        <br>
        <button class="btn btn-primary w-100 py-2" type="submit">Save changes</button>
    </form>
</div>
</main>
{% endblock %}
