{% extends "base.html" %}

{% block title %}Announcement Details{% endblock %}
{% block content %}
<main>
  <div class="container">
    <h1>Announcement details</h1>
      <br>
    <div class="announcement-details">
        <p>{{ announcement.description }}</p>
        <p>Date: {{ announcement.add_date }}</p>
        <p>Teacher: {{ announcement.teacher_name() }}</p>
        {% if user.user_type == 'admin' or user.user_id == announcement.teacher_id %}
            <a href="{{ url_for('views.edit_announcement', announcement_id=announcement.announcement_id) }}">
            <button class="btn btn-primary edit-button">
                Edit
            </button>
            </a>
            <div class="mb-3"></div>

            <form action="#" method="post">
                <div class="form-floating">
                        <input type="hidden"
                               class="form-control"
                               id="announcement_id"
                               name="announcement_id"
                               value="{{ announcement.announcement_id }}"/>
                </div>
                <button class="btn btn-primary" type="submit">Delete</button>
            </form>
        {% endif %}
    </div>
  </div>
</main>
{% endblock %}
