{% extends "base.html" %}
{% block title %}Grades{% endblock %}

{% set active_page = "grades" %}

{% block content %}
<main>

<script>
    function Average(...list){
        let average = "-";
        if(list.length > 0) {
            average = list.reduce((a, b) => a + b, 0) / list.length;
        }
        return Math.round(average * 100) / 100;
    }
    let arr = [];
</script>

{% set subjects = ['Matematyka', 'Biologia', 'Chemia', 'Fizyka'] %}
{% set names = ['Maths', 'Biology', 'Chemistry', 'Physics'] %}



  <div class="container">
  {% if user.user_type == 'teacher' %}

      <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Choose class</button>
          <ul class="dropdown-menu">
              {% for class in classes %}
                      <li><a class="dropdown-item" href="{{ url_for('views.grades_teacher', class_name=class.class_name) }}">{{ class.class_name }}</a></li>
              {% endfor %}
          </ul>
      </div>

    {% else %}



  {% if user.user_type == 'student'%}
        <h1>Your grades</h1>
  {% else %}
        <h1>Your child's grades</h1>
  {% endif %}

    <br>
    <div class="row mb-3 text-center">
      <div class="col-md-2 themed-grid-col"><b>SUBJECT</b></div>
      <div class="col-md-8 themed-grid-col"><b>GRADES</b></div>
      <div class="col-md-1 themed-grid-col"><b>AVERAGE</b></div>
      <div class="col-md-1 themed-grid-col"><b>FINAL</b></div>
    </div>
    <hr>

    {% for subject in subjects %}
     <div class="row mb-3 text-center">
      <div class="col-md-2 themed-grid-col">{{ names[loop.index - 1] }}</div>
      <div class="col-md-8 themed-grid-col">
      <script >
        arr = [];
      </script>
          {% for grade in child.grades %}
              {% if grade.subject.subject_name == subject and grade.is_final == false %}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#grade-modal{{ loop.index }}">{{ grade.type }}</button>
                  <script>
                    arr.push({{ grade.type }});
                  </script>
              <!-- Modal -->
                    <div class="modal fade" id="grade-modal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content rounded-4 shadow">
                          <div class="modal-header border-bottom-0">
                            <h1 class="modal-title fs-5">{{ grade.subject.subject_name }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                              <div class="modal-body py-0">
                                <p>Grade: {{ grade.type }}</p>
                                <br>
                                <p>Weight: {{ grade.weight }}</p>
                                <br>
                                <p>Description: {{ grade.description }}</p>
                                <br>
                                <p>Date: {{ grade.add_date }}</p>
                                <br>
                              </div>
                            </div>
                          </div>
                    </div>
                {% endif %}
            {% endfor %}

      </div>
      <div class="col-md-1 themed-grid-col"><script>document.write((Average.apply({},arr).toString()))</script></div>
      <div class="col-md-1 themed-grid-col">
            <script>let final = '-';</script>
            {% for grade in child.grades %}
                {% if grade.is_final %}
                    <script> final = {{ grade.type }}</script>
                {% endif %}
            {% endfor %}
            <script>document.write(final.toString())</script>
      </div>
    </div>
        <hr>
    {% endfor %}

</div>

{% endif %}
</main>
{% endblock %}

