{% extends "base.html" %}
{% block title %}Grades{% endblock %}

{% set active_page = "grades" %}

{% block content %}
<main>

    <script>
    function Average(...list){
        let average = "-";
        if(list.length > 0) {
            average = list.reduce((a, b) => a + b, 0) / list.length;
        }
        return average;
    }
</script>

  <div class="container">
  {% if user.user_type != 'teacher' %}
      {% if user.user_type == 'student'%}
            <h1>Your grades</h1>
      {% else %}
            <h1>Your child's grades</h1>
      {% endif %}

    <br>
    <div class="row mb-3 text-center">
      <div class="col-md-3 themed-grid-col"><b>SUBJECT</b></div>
      <div class="col-md-6 themed-grid-col"><b>GRADES</b></div>
      <div class="col-md-3 themed-grid-col"><b>AVERAGE</b></div>
    </div>
    <hr>

    <div class="row mb-3 text-center">
      <div class="col-md-3 themed-grid-col">Maths</div>
      <div class="col-md-6 themed-grid-col">
      <script >
        let arr = [];
      </script>
          {% for grade in child.grades %}
              {% if grade.subject[0].subject_name == 'Matematyka' %}
                {{ grade.type }}
                  <script>
                    arr.push({{ grade.type }});
                  </script>
              {% endif %}
            {% endfor %}

      </div>
      <div class="col-md-3 themed-grid-col"><script>document.write((Average.apply({},arr).toString()))</script></div>
    </div>
        <hr>

    <div class="row mb-3 text-center">
      <div class="col-md-3 themed-grid-col">Biology</div>
      <div class="col-md-6 themed-grid-col">
        <script >
            arr = [];
      </script>
          {% for grade in child.grades %}
              {% if grade.subject[0].subject_name == 'Biologia' %}
                {{ grade.type }}
                  <script>
                    arr.push({{ grade.type }});
                  </script>
              {% endif %}
            {% endfor %}

      </div>
      <div class="col-md-3 themed-grid-col"><script>document.write((Average.apply({},arr).toString()))</script></div>
    </div>
    <hr>

    <div class="row mb-3 text-center">
      <div class="col-md-3 themed-grid-col">Chemistry</div>
      <div class="col-md-6 themed-grid-col">
      <script >
        arr = [];
      </script>
          {% for grade in child.grades %}
              {% if grade.subject[0].subject_name == 'Chemia' %}
                {{ grade.type }}
                  <script>
                    arr.push({{ grade.type }});
                  </script>
              {% endif %}
            {% endfor %}

      </div>
      <div class="col-md-3 themed-grid-col"><script>document.write((Average.apply({},arr).toString()))</script></div>
    </div>
    <hr>

    <div class="row mb-3 text-center">
      <div class="col-md-3 themed-grid-col">Physics</div>
      <div class="col-md-6 themed-grid-col">
      <script >
        arr = [];
      </script>
          {% for grade in child.grades %}
              {% if grade.subject[0].subject_name == 'Fizyka' %}
                {{ grade.type }}
                  <script>
                    arr.push({{ grade.type }});
                  </script>
              {% endif %}
            {% endfor %}

      </div>
      <div class="col-md-3 themed-grid-col"><script>document.write((Average.apply({},arr).toString()))</script></div>
    </div>
    <hr>

  {% endif %}


</div>
</main>
{% endblock %}

