{% extends "base.html" %}
{% block title %}Plan{% endblock %}
{% set active_page = "plan" %}

{% block content %}
<main>
<style>
  /* Styl dla wszystkich wierszy */
  #allRows tr {
    height: 64px; /* Ustawiona wysokość */
  }
</style>
    <div class="table-responsive">
        <table class="table table-sm table-striped table-bordered text-center">
            <thead>
                <tr>
                     <th style="width: 5%;"></th>
                <th style="width: 16%; min-width: 100px;">Time</th>
                <th style="width: 16%; min-width: 100px;">Monday</th>
                <th style="width: 16%; min-width: 100px;">Tuesday</th>
                <th style="width: 16%; min-width: 100px;">Wednesday</th>
                <th style="width: 16%; min-width: 100px;">Thursday</th>
                <th style="width: 16%; min-width: 100px;">Friday</th>
                </tr>
            </thead>
              <tbody id="allRows">
                {% set time_slots = ['08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00'] %}
                {% set end_time_slots = ['08:45', '09:45', '10:45', '11:45', '12:45', '13:45', '14:45', '15:45'] %}
                {% for time_slot in time_slots %}
                    <tr>
                       <td>{{ loop.index }}</td>
                        <td>{{ time_slot }} - {{ end_time_slots[loop.index - 1] }}</td>
                        {% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] %}
                            <td>
                                {% for lesson in zajecia %}
                                    {% if lesson['day_of_week'] == day and lesson['start_time'] == time_slot %}
                                        {{ lesson['subject'] }}
                                        ({{ lesson['building'] }}) <br>
                                        {% if lesson['test'] is not none %}
                                        <span style="color: red;">{{ lesson['test'] }}</span>
                                        {% endif %}

                                    {% else %}

                                        {# Jeśli nie ma zajęć o danej godzinie i dniu, wstaw pustą komórkę #}
                                    {% endif %}

                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
