{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% set active_page = "profile" %}

{% block content %}
<main>

  <div class="container">

    <h1>Your profile</h1>

  <div class="my-3 p-3 bg-body rounded shadow-sm">

        {% if user.user_type == 'teacher' %}
        <div class="d-flex text-body-secondary pt-3">
          <p class="pb-3 mb-0 small lh-sm border-bottom">
              <h6 class="border-bottom pb-2 mb-0">User: &emsp;&emsp;&emsp;&emsp; {{ user.teacher[0].name }} {{ user.teacher[0].surname }}</h6>
          </p>
        </div>

      <div class="d-flex text-body-secondary pt-3">
      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <h6 class="border-bottom pb-2 mb-0">Classroom: &emsp;&emsp;{{ user.teacher[0].classroom_nr }}</h6>
      </p>
        </div>
        <div class="d-flex text-body-secondary pt-3">
      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <h6 class="border-bottom pb-2 mb-0">Description: &emsp;&emsp;{{ user.teacher[0].description }}</h6>
      </p>
        </div>
      {% endif %}



  {% if user.user_type == 'student' %}

      <div class="d-flex text-body-secondary pt-3">
          <p class="pb-3 mb-0 small lh-sm border-bottom">
              <h6 class="border-bottom pb-2 mb-0">User: &emsp;&emsp;&emsp;&emsp; {{ user.student[0].name }} {{ user.student[0].surname }}</h6>
          </p>
      </div>
      <div class="d-flex text-body-secondary pt-3">
      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <h6 class="border-bottom pb-2 mb-0">Gradebook number: &emsp;&emsp;{{ user.student[0].gradebook_nr }}</h6>
      </p>
        </div>
      <div class="d-flex text-body-secondary pt-3">
      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <h6 class="border-bottom pb-2 mb-0">Class: &emsp;&emsp;{{ user.student[0].class_name }}</h6>
      </p>
        </div>
      <div class="d-flex text-body-secondary pt-3">
      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <h6 class="border-bottom pb-2 mb-0">Student id: &emsp;&emsp;{{ user.student[0].student_id }}</h6>
      </p>
        </div>
      <div class="d-flex text-body-secondary pt-3">
      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <h6 class="border-bottom pb-2 mb-0">Date of birth: &emsp;&emsp;{{ user.student[0].date_of_birth.strftime("%d %B %Y") }}</h6>
      </p>
        </div>
      <div class="d-flex text-body-secondary pt-3">
      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <h6 class="border-bottom pb-2 mb-0">Place of birth: &emsp;&emsp;{{ user.student[0].place_of_birth }}</h6>
      </p>
        </div>
      <div class="d-flex text-body-secondary pt-3">
      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <h6 class="border-bottom pb-2 mb-0">Address: &emsp;&emsp;{{ user.student[0].address }}</h6>
      </p>
        </div>
      {% endif %}


  {% if user.user_type == 'parent' %}

      <div class="d-flex text-body-secondary pt-3">
          <p class="pb-3 mb-0 small lh-sm border-bottom">
              <h6 class="border-bottom pb-2 mb-0">User: &emsp;&emsp;&emsp;&emsp; {{ user.parent[0].name }} {{ user.parent[0].surname }}</h6>
          </p>
      </div>
  {% endif %}

        <div class="d-flex text-body-secondary pt-3">
          <p class="pb-3 mb-0 small lh-sm border-bottom">
            <h6 class="border-bottom pb-2 mb-0">User type: &emsp;&emsp;{{ user.user_type }}</h6>
          </p>
        </div>
        <div class="d-flex text-body-secondary pt-3">
          <p class="pb-3 mb-0 small lh-sm border-bottom">
            <h6 class="border-bottom pb-2 mb-0">E-mail: &emsp;&emsp;&emsp;{{ user.email }}</h6>
          </p>
            </div>
          <div class="d-flex text-body-secondary pt-3">
          <p class="pb-3 mb-0 small lh-sm border-bottom">
            <h6 class="border-bottom pb-2 mb-0">Phone: &emsp;&emsp;&emsp;{{ user.phone_nr }}</h6>
          </p>
            </div>


    {% if user.user_type == 'parent' %}

        <br>
        <h3>Your child:</h3>

      <div class="d-flex text-body-secondary pt-3">
      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <h6 class="border-bottom pb-2 mb-0">Child: &emsp;&emsp;{{ user.parent[0].child.name }} {{ user.parent[0].child.surname }}</h6>
      </p>
        </div>
        <div class="d-flex text-body-secondary pt-3">
      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <h6 class="border-bottom pb-2 mb-0">Child's id: &emsp;&emsp;{{ user.parent[0].student_id }}</h6>
      </p>
        </div>
      <div class="d-flex text-body-secondary pt-3">
      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <h6 class="border-bottom pb-2 mb-0">Child's gradebook number: &emsp;&emsp;{{ user.parent[0].child.gradebook_nr }}</h6>
      </p>
        </div>
      <div class="d-flex text-body-secondary pt-3">
      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <h6 class="border-bottom pb-2 mb-0">Child's class: &emsp;&emsp;{{ user.parent[0].child.class_name }}</h6>
      </p>
        </div>
      <div class="d-flex text-body-secondary pt-3">
      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <h6 class="border-bottom pb-2 mb-0">Child's date of birth: &emsp;&emsp;{{ user.parent[0].child.date_of_birth.strftime("%d %B %Y") }}</h6>
      </p>
        </div>
      <div class="d-flex text-body-secondary pt-3">
      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <h6 class="border-bottom pb-2 mb-0">Child's place of birth: &emsp;&emsp;{{ user.parent[0].child.place_of_birth }}</h6>
      </p>
        </div>
      <div class="d-flex text-body-secondary pt-3">
      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <h6 class="border-bottom pb-2 mb-0">Child's address: &emsp;&emsp;{{ user.parent[0].child.address }}</h6>
      </p>
        </div>

      {% endif %}
    </div>

          {% if user.user_type == 'teacher' %}
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="http://127.0.0.1:5000/add-announcement" class="nav-link">Add an announcement</a></li>
            </ul>
            {% endif %}

        {% if user.user_type == 'admin' %}
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="http://127.0.0.1:5000/sign-up" class="nav-link">Create an account</a></li>
            </ul>
        {% endif %}

    <br><br>
    <h1>Search for other profiles:</h1>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <form method="POST" role="search" >
          <input class="form-control"
                 type="search"
{#                 value="{{ request.form.search}}"#}
                 placeholder="Search"
                 aria-label="Search"
                 name="search"
          >
        </form>
    </nav>
    {% if searched != null %}
        Searched for: {{ searched }}
        <br><br>
        {% for user in users %}
            {{ user.name }} {{ user.surname }}
            <br>
        {% endfor %}
    {% endif %}

</div>
</main>
{% endblock %}