{% extends "base.html" %}
{% block title %}Sign up{% endblock %}

{% block content %}
<main>

  <div class="container">

        <h1>Create an account</h1>
        <br>
        <form action="#" method="post">

            <div class="form-floating">
			    <input type="text"
                       class="form-control"
                       id="login"
                       name="login"
                       placeholder="Login"/>
                <label for="login">Login</label>

            </div>

            <div class="form-floating">
			    <input type="password"
                       class="form-control"
                       id="password"
                       name="password"
                       placeholder="Password"/>
                <label for="password">Password</label>
            </div>

            <div class="form-floating">
			    <input type="text"
                       class="form-control"
                       id="user_type"
                       name="user_type"
                       placeholder="User type"/>
                <label for="user_type">User type</label>
            </div>

            <div class="form-floating">
			    <input type="text"
                       class="form-control"
                       id="name"
                       name="name"
                       placeholder="Name"/>
                <label for="name">Name</label>
            </div>

            <div class="form-floating">
			    <input type="text"
                       class="form-control"
                       id="surname"
                       name="surname"
                       placeholder="Surname"/>
                <label for="surname">Surname</label>
            </div>

            <div class="form-floating">
			    <input type="text"
                       class="form-control"
                       id="email"
                       name="email"
                       placeholder="E-mail"/>
                <label for="email">E-mail</label>
            </div>

            <div class="form-floating">
			    <input type="number"
                       class="form-control"
                       id="phone_nr"
                       name="phone_nr"
                       placeholder="Phone number"/>
                <label for="phone_nr">Phone number</label>
            </div>

            <br>
            <h3>For students:</h3>
            <br>

            <div class="form-floating">
			    <input type="text"
                       class="form-control"
                       id="class_name"
                       name="class_name"
                       placeholder="Class name"/>
                <label for="class_name">Class name</label>
            </div>

            <div class="form-floating">
			    <input type="number"
                       class="form-control"
                       id="gradebook_nr"
                       name="gradebook_nr"
                       placeholder="Gradebook number"/>
                <label for="gradebook_nr">Gradebook number</label>
            </div>

            <div class="form-floating">
			    <input type="date"
                       class="form-control"
                       id="date_of_birth"
                       name="date_of_birth"
                       placeholder="Date of birth"/>
                <label for="date_of_birth">Date of birth</label>
            </div>

            <div class="form-floating">
			    <input type="text"
                       class="form-control"
                       id="place_of_birth"
                       name="place_of_birth"
                       placeholder="Place of birth"/>
                <label for="place_of_birth">Place of birth</label>
            </div>

            <div class="form-floating">
			    <input type="text"
                       class="form-control"
                       id="address"
                       name="address"
                       placeholder="Address"/>
                <label for="address">Address</label>
            </div>

            <br>
            <h3>For parents:</h3>
            <br>

            <div class="form-floating">
			    <input type="number"
                       class="form-control"
                       id="student_id"
                       name="student_id"
                       placeholder="Child's id"/>
                <label for="student_id">Child's id</label>
            </div>

            <br>
            <h3>For teachers:</h3>
            <br>

            <div class="form-floating">
			    <input type="number"
                       class="form-control"
                       id="classroom_nr"
                       name="classroom_nr"
                       placeholder="Classroom number"/>
                <label for="classroom_nr">Classroom number</label>
            </div>

            <div class="form-floating">
			    <input type="text"
                       class="form-control"
                       id="description"
                       name="description"
                       placeholder="Description"/>
                <label for="description">Description</label>
            </div>

<!--            <label for="user_type">User type</label>-->
<!--			<input type="text" class="form-control" name="user_type"/>-->

    		    <button class="btn btn-primary w-100 py-2" type="submit">Register</button>
        </form>
  </div>
</main>
{% endblock %}


